<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div class="container">
<h1>Detalhe Contato</h1>
</div>
<div class="container">

  <div class="card">
    <h5  th:text="'Id: ' +${contato.id}" class="card-header"/>
    <div class="card-body">
      <h5 th:text="'Nome: ' + ${contato.nome}" class="card-title"/>
      <p th:text="'Email: ' + ${contato.email}" class="card-text"/>
      <p th:text="'Telefone: ' + ${contato.telefone}" class="card-text"/>
      <a th:href="@{/contato/cadastrar}" class="btn btn-primary">Adicionar Contato</a>
      <a th:href="@{/contato}" class="btn btn-info">Contatos Adicionados</a>
    </div>
  </div>

</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>